<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Operaciones</th>
        </tr>
    </thead>

    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}} </td>
            <td>{{title}} </td>
            <td>{{description}} </td>
            <td>
                {{#if done}}    
                    <a href="/tasks/{{_id}}/toggleDone">Pendiente</a>
                {{else}}
                    <a href="/tasks/{{_id}}/toggleDone">Listo</a>
                {{/if}}
                <a href="/tasks/{{_id}}/delete">Eliminar</a>
                <a href="/tasks/{{_id}}/edit">Actualizar</a>
            </td>
        </tr>
        
    {{/each}}

    </tbody>
</table>